
/* See https://stackoverflow.com/questions/114543/how-to-horizontally-center-a-div */
.centerDiv {
  display: table; 
  margin: 0 auto;
}

.buttonPanel {
  display: flex; 
  justify-content: space-evenly;
}
 
.help-block {
  color: #000 !important;
}

